@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
* {
  font-weight: 400;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

header {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-image: url("../img/background/SL_042620_30310_10.jpg");
  background-repeat: repeat;
}

h2 {
  font-family: "PT Serif", sans-serif;
}

.generalButton, .roundedButton {
  text-decoration: none;
  color: #000;
  padding: 10px 25px;
  border: #1b3039 outset;
  background: #d9d9d9;
  transition: all 0.2s;
}
.generalButton:hover, .roundedButton:hover {
  background-color: #fff;
  border: #1b3039 inset;
  text-decoration: none;
}

.roundedButton {
  border-radius: 50px;
}

.navegacion {
  background-color: #0000AE;
}
.navegacion img {
  width: 150px;
  height: auto;
}
.navegacion li a {
  color: white;
}
.navegacion li a:hover {
  color: aqua;
}

@keyframes imgRotation {
  20% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  70% {
    transform: scale(1.2);
  }
}
footer {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
footer img {
  width: 32px;
  height: auto;
}
footer img:hover {
  animation-name: imgRotation;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
footer p {
  line-height: 8px;
}
footer p:nth-child(1) {
  font-size: 1.4rem;
}

.indexHeader img {
  width: 100%;
  height: auto;
}
.indexHeader div {
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
}
.indexHeader div p {
  color: #f79226;
  margin-bottom: 0;
  font-size: 1.4rem;
}
.indexHeader div hr {
  height: 3px;
  width: 20%;
  background-color: #f79226;
  margin: auto;
  border: none;
}

.tarjetaDescripcion {
  margin: 10px 10px;
}
.tarjetaDescripcion div img {
  width: 90%;
  height: auto;
}

#mapaIndex iframe {
  width: 100%;
  height: auto;
}

.foto {
  width: 30%;
  padding: 10px 10px;
}

.testimonio {
  width: 100%;
}
@media (min-width: 768px) {
  .testimonio {
    width: 40%;
  }
}
@media (min-width: 1140px) {
  .testimonio {
    width: 30%;
  }
}
.testimonio h2 {
  text-align: center;
}

.oferta figure figcaption {
  font-family: "PT Serif", sans-serif;
  font-size: 1.3rem;
}
.oferta figure img {
  width: 15%;
  height: auto;
}
.oferta figure p {
  padding-top: 0;
  margin-bottom: 0;
}

.formSection {
  align-items: center;
}
@media (max-width: 991px) {
  .formSection div .submitButton {
    text-align: right;
  }
}

.formulario div {
  margin-top: 5px;
}

#mapaContacto {
  text-align: center;
  height: auto;
}
@media (max-width: 576px) {
  #mapaContacto iframe {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .tarjetaDescripcion {
    align-items: center;
    font-size: 1.2rem;
    justify-content: space-around;
  }
  .tarjetaDescripcion div {
    width: 48%;
    justify-content: space-around;
  }
  .tarjetaDescripcion div img {
    width: 100%;
    height: auto;
  }
  .prop-section2 {
    display: flex;
    justify-content: space-around;
  }
  .prop-section2 div {
    width: 40%;
  }
  footer {
    justify-content: space-around;
    align-items: center;
  }
  footer div:nth-child(odd) {
    width: 35%;
  }
  footer div:nth-child(even) {
    width: 30%;
    text-align: center;
  }
  footer div:nth-child(3) {
    text-align: right;
  }
}
@media (max-width: 1199px) {
  .galeria-desktop {
    display: none;
  }
  .testimonios-desktop {
    display: none;
  }
  .carousel-mobile {
    margin: 10px;
    padding-top: 20px;
  }
  .carousel-galeria-inner {
    padding-bottom: 20px;
  }
  .carousel-testimonios {
    padding-bottom: 20px;
  }
  .foto {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .foto {
    width: 100%;
  }
  footer {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .navegacion li a {
    margin: 5px;
    box-shadow: inset 0 -2px 0 rgba(42, 230, 236, 0.6);
    transition: box-shadow 0.4s;
  }
  .navegacion li a:hover {
    box-shadow: inset 0 -40px 0 rgba(70, 223, 212, 0.3);
  }
  .carousel-mobile {
    display: none;
  }
  .galeria-desktop {
    padding-top: 20px;
  }
  .galeria-desktop-inner {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
  }
  .galeria-desktop-inner div {
    width: 30%;
  }
  .testimonios-desktop {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .testimonios-desktop-inner {
    display: flex;
    justify-content: space-around;
  }
  .testimonios-desktop-inner div {
    width: 30%;
  }
  footer img {
    filter: grayscale(100%);
  }
  footer img:hover {
    filter: grayscale(0%);
  }
}

/*# sourceMappingURL=main.css.map */
