.indexHeader{
  img {
    @include imgSize(100%);
  }
  div{
    text-align: center;
    font-family: $titleFont;
      p {
        color: #f79226;
        margin-bottom: 0;
        font-size: 1.4rem;
      }
    hr {
      height: 3px;
      width: 20%;
      background-color: #f79226;
      margin: auto;
      border: none;
    }
  }
}

.tarjetaDescripcion {
  margin: $verticalSpacing $horizontalSpacing;
  div{
    img{
      @include imgSize(90%);
    }
  }
}

#mapaIndex{
  iframe {
    @include imgSize(100%);
  }
}