.indexHeader{
  img {
    width: $w100;
  }
  div{
    text-align: center;
    font-family: $titleFont;
      p {
        color: #f79226;
        margin-bottom: 0;
        font-size: 1.4rem;
      }
    hr {
      height: 3px;
      width: 20%;
      background-color: #f79226;
      margin: auto;
      border: none;
    }
  }
}

.tarjetaDescripcion {
  margin: $verticalSpacing $horizontalSpacing;
  div{
    img{
      width: 90%;
    }
  }
}

#mapaIndex{
  iframe {
    width: $w100;
    height: auto;
  }
}