//Galeria
.foto {
  width: 30%;
  padding: $verticalSpacing $horizontalSpacing;
}
//Testimonios

.testimonio{
  width: 100%;
  @media(min-width: 768px){
    width: 40%
  }
  @media(min-width: 1140px){
    width: 30%
  }
  h2{
    text-align: center;
  }
}

//Propuesta
.oferta{
  figure{
    figcaption{
      font-family: "PT Serif", sans-serif;
      font-size: 1.3rem;
    }
    img{
      @include imgSize(15%);
    }
    p{
      padding-top: 0;
      margin-bottom: 0;
    }
  }
}
//Contacto
.formSection {
  align-items: center;
  div{
    .submitButton{
      @media (max-width: 991px){
        text-align: right;
      }
    }
  }
}
.formulario div {
  margin-top: 10px;
}

#floatingTextarea{
  height: 100px;
}

#mapaContacto{
  text-align: center;
  height: auto;
  iframe {
    @media(max-width: 576px){
      width: 100%;
    }
  }
}