//fonts
$mainFont: 'Montserrat', sans-serif;
$titleFont: "Libre Baskerville", sans-serif;
$headingFont: "PT Serif", sans-serif;
$standardFontWeight: 400;

//widths
$w30: 30%;
$w100: 100%;

//padding
$verticalSpacing: 10px;
$horizontalSpacing: 10px;

//backgrounds & colors
$navBackground: #0000AE;
$bodyBackground: url("../img/background/SL_042620_30310_10.jpg");
$carrotOrange: #f79226;


